@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    display: flex;
    min-height:20vh;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 85%;
    padding: 30px 107px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    position: relative;
    max-width: 80px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{ 
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textBox{
    position: relative;
    max-width: 600px;
}
.textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.textBox h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}
.textBox p{
    color: #333;
}
.textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.imgBox img{
    max-width: 340px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.6s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 60px;
}
.sci{
    position: relative;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
}

.frap img{
    border-radius: 50%;
    width:80%;
    margin:auto;
    padding: 0%;
}

/*

.footer_division{
   display: flex;
   background-color: #0e382c;
    padding: 4em 26em 6em;
    

}

.use-links li {
    color: white;
    padding:0px 40px 0px 40px;

    
}
.use-links ul {
    list-style: none;
    
    
}

.search-form[_ngcontent-nse-c104] .form-input[_ngcontent-nse-c104] {
    text-indent: 33px;
}

.custom-search-box[_ngcontent-nse-c104] {
    border-radius: 1.25rem;
    box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
    border: none;
}

.cont{
    color:#0e382c;
    font-family: Arial, Helvetica, sans-serif;
}
*/
.melo{
    margin:40px 40px 40px 40px;
}

.kelo{
    margin:40px 40px 40px 40px;
}
.yelo{
    margin:50px 50px 50px 50px;

}
.telo{
margin:20px 20px 20px 20px;
}




/* Footer Container */
.footer-container {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color:#1e3932;
    color: #fff;
    padding: 130px;
    letter-spacing: 3px;
  }
  
  /* Footer Logo */
  .footer-logo img {
    width: 62px;
    height: 62px;
  }
  
  /* Footer Information */
  .footer-info {
    text-align: center;
  }
  
  .footer-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-info p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  /* Footer Social Media */
  .footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-social ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .footer-social ul li {
    margin-right: 10px;
  }
  
  .footer-social ul li a {
    color: #fff;
    font-size: 24px;
  }

  .topnav input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    background-color:#e2f3ed;
    border-radius: 1.25rem;
    box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
  }
  
  
  