@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}




section{
    position: relative;
    width: 100%;
    display: flex;
    min-height:20vh;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

/*-----------------------Start of header -----------------------*/



header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 85%;
    padding: 30px 107px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    position: relative;
    max-width: 80px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{ 
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

 header ul li a:hover{
    color:#017143
}
/*-----------------------end of header-----------------------*/



/*-----------------------star of landing page-----------------------*/

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textBox{
    position: relative;
    max-width: 600px;
}
.textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.textBox h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}
.textBox p{
    color: #333;
}
.textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 0px;
    margin-top: 50px;
   
}
.imgBox img{
    max-width: 340px;
 
}



.imgBox img{
    -webkit-animation: mover 0.5s infinite  alternate;
    animation: mover 0.5s infinite  alternate;
}
.imgBox img {
    -webkit-animation: mover 0.5s infinite  alternate;
    animation: mover 0.5s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}



.thumb{
    position: absolute;
    left: 50%;
    bottom: -25px;
    transform: translate(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.6s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 111px;
}
.sci{
    position: relative;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
}

.frap img{
    border-radius: 50%;
    width:80%;
    margin:auto;
    padding: 0%;
}
  /*-----------------------end of landing page-----------------------*/



  


.next{
    margin:40px 40px 40px 40px;
}
.melo{
    margin:40px 40px 40px 40px;
}

.kelo{
    margin:40px 40px 40px 40px;
}
.yelo{
    margin:40px 40px 40px 40px;

}
.telo{
margin:30px 30px 30px 30px;
}




/* Footer Container */
.footer-container {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color:#1e3932;
    color: #fff;
    padding: 130px;
    letter-spacing: 3px;
  }
  
  /* Footer Logo */
  .footer-logo img {
    width: 62px;
    height: 62px;
  }
  
  /* Footer Information */
  .footer-info {
    text-align: center;
  }
  
  .footer-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-info p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  /* Footer Social Media */
  .footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-social ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .footer-social ul li {
    margin-right: 10px;
  }
  
  .footer-social ul li a {
    color: #fff;
    font-size: 24px;
  }

  .topnav input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    background-color:#e2f3ed;
    border-radius: 1.25rem;
   border-color: white;
  }

  .space{
    display:flex; 
    padding:0 0px;
  }
  
  .button {
    display: inline-block;
    margin-top: 8px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-color: white;
  }

 
  /* Footer Styles */
footer {
    background-color: #1e3932;
    padding: 20px 0;
  }
  
  .footer-content {
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-column {
    flex: 1;
    padding: 0 20px;
  }
  
  .footer-column h3 {
    color:white;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-column li {
    margin-bottom: 5px;
  }
  
  .footer-column a {
    color:white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-column a:hover {
    color: #000;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
  }
  
  .footer-bottom p {
    color:white;
    font-size: 14px;
  }
  
  
